*{
    box-sizing: border-box;
}

.contenedorGrande{
    margin-bottom: 0;
}

.contenedor-home{
    width: 100%;
    height: auto;
    background: url(../../public/img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    
}

.contenedor-home2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 31px;
    margin-top: 380px;
}

.titulo-home{
    background-color: #6BD1FF;
    width: 296px;
    height: 92px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 3em;
    text-align: center;
    line-height: 92px;
    border-radius: 4px;
    margin-bottom: 40px;
}

.titulo-home2{
    font-family: 'Roboto', sans-serif;
    font-size: 46px;
    color: #f5f5f5;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.parrafo-home{
    color: var(----color-gray-light, #F5F5F5);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 661px;
    height: 110px;
    flex-shrink: 0;
    width: 100%;
}

.contenedor-video{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.mini{
    color: rgb(51, 50, 110);
    border: 1px groove rgb(135, 130, 130);
    font-size: 1.3em;
    color: #6BD1FF;
    box-shadow: 0 0 10px 2px;
    cursor: pointer;
}

.video{
    width: 95%;
    aspect-ratio: 16/9;
    margin-bottom: 65px;
    margin-top: 10px;
    border-radius: 4px;
    border: 4px solid #6BD1FF;
    padding: 4px;
    flex-shrink: 0;
    background-color: #347c9e;
}

.sinVideo{
    width: 646px;
    height: 333.582px;
    margin-bottom: 65px;
    margin-top: 10px;
    padding: 4px;
    flex-shrink: 0;
    background: transparent;
}

h1{
    color: red;
    font-size: 45px;
}

.modal-titulo-video{
    background-color: #393845d3;
    width: fit-content;
    height: fit-content;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    line-height: 4rem;
    border-radius: 4px;
    padding: 0 15px;
}

@media screen and (max-width: 768px) {
    .contenedor-home{
        background: url(../../public/img/banner.png);
        background-color: black;
        background-size: 100% 55%;
        background-repeat: no-repeat;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        gap: 20px;

    }

    .contenedor-home2{
        width: 90%;
        height: fit-content;
        justify-content: flex-start;
        align-items: center;
        margin-top: 0;
        padding: 0px;
    }

    .titulo-home{
        width: auto;
        height: 60px;
        font-size: 2.5em;
        line-height: 60px;
        padding: 0 10px;
        margin-top: 20px;
    }

    .titulo-home2{
        
        font-size: 30px;
        color: #f5f5f5;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 30px;
    }

    .parrafo-home{
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }

    .contenedor-video{
        width: 100%;
        padding: 2px;
    }

    .video{
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .sinVideo{
        width: 100%;
        height: auto;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
        flex-shrink: 0;
        background: transparent;
    }

    .modal-titulo-video{
        width: 100%;
        height: auto;
        text-align: center;
        padding: 10px;
    }

    .reproductor{
        width: 100%;
        height: 300px;
    }


}